<div class="pageTitle">
  <h1>Categories</h1>
</div>
<div class="toolbar">
  <div class="leftItem blueButton" >
    <a href="<%= Rho::RhoConfig.start_path %>">Logout</a>
  </div> 

  <div class="rightItem blueButton" >
    <a href="<%= url_for :controller => :Searchproduct, :action => :goToSearch %>">Search</a>
  </div> 
</div>

<div class="content">
  <ul>
   <li>
   Helloooooooooo
   </li>
  </ul>
</div>