<div data-role="page">

	<div data-role="header" data-position="inline">
    <h1>Shippingaddresses</h1>

	</div>

  <div data-role="content">
    <ul data-role="listview">
      <% @shippingaddresses.each do |shippingaddress| %>
      
          <li>
            <a href="<%= url_for :action => :show, :id => shippingaddress.object %>">
              <%= shippingaddress.name %>
            </a>
          </li>
      
      <% end %>
    </ul>
  </div>

</div>
